@model FourLeafCloverShoe.Share.Models.Size

@{
    ViewData["Title"] = "Cập nhật";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@Html.Partial("~/Areas/Admin/Shared/_ErrorMessage.cshtml")
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label>Kích cỡ</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex flex-wrap gap-2">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
