@model IEnumerable<FourLeafCloverShoe.Share.Models.Size>


@{
    ViewBag.Title = "Danh sách";
    ViewBag.pTitle = "Kích cỡ";
}


<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <div class="text-end p-sm-4 pb-sm-2">
                    <a asp-action="Create" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Thêm mới </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="pc-dt-simple">
                        <thead>

                            <tr>
                                <th data-sortable="true"><button class="datatable-sorter">#</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Kích cỡ</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Chức năng</button></th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            stt++;
                                            <span>@stt</span>
                                        }
                                    </td>
                                    <td>@item.Name</td>
                                    <td class="text-center">
                                        <div>
                                            <ul class="list-inline me-auto mb-0">
                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Chỉnh sửa">
                                                    <a asp-action="Edit" asp-route-Id="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                        <i class="ti ti-edit-circle f-18"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Xoá">
                                                    @Html.ActionLink("", "Delete", new { Id = item.Id }, new { @class = "avtar avtar-xs btn-link-danger btn-pc-default ti ti-trash f-18" })
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
